<div class="px-4 py-5 space-y-6 bg-white sm:p-6">
  <fieldset>
    <legend class="sr-only">By Email</legend>
    <div class="text-base font-medium text-gray-900" aria-hidden="true">By Email</div>
    <div class="mt-4 space-y-4">
      <div class="flex items-start">
        <div class="flex items-center h-5">
          <input id="comments" name="comments" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        </div>
        <div class="ml-3 text-sm">
          <label for="comments" class="font-medium text-gray-700">Comments</label>
          <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
        </div>
      </div>
      <div class="flex items-start">
        <div class="flex items-center h-5">
          <input id="candidates" name="candidates" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        </div>
        <div class="ml-3 text-sm">
          <label for="candidates" class="font-medium text-gray-700">Candidates</label>
          <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
        </div>
      </div>
      <div class="flex items-start">
        <div class="flex items-center h-5">
          <input id="offers" name="offers" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        </div>
        <div class="ml-3 text-sm">
          <label for="offers" class="font-medium text-gray-700">Offers</label>
          <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
        </div>
      </div>
    </div>
  </fieldset>
</div>
